@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Section */
  .HeroSectionContainer {
    height: 50vh !important;
  }
  .HeroSectionHeading {
    bottom: 2rem !important;
    left: 2rem !important;
    font-size: 3.5rem !important;
  }

  /* Event Categories  */
  .EventCategoriesContainer {
    padding-left: 1rem !important;
  }
  .EventCategoriesText {
    font-size: 1.2rem !important;
  }
  .EventCategoriesButtonsGrp {
    gap: var(--mantine-spacing-sm) !important;
    padding: 1.5rem 0 !important;
  }
  .EventCategoriesChips {
    font-size: var(--mantine-font-size-xs) !important;
  }

   /* Event Cards  */
  .EventCardStack {
    padding-block: 1rem !important ;
    padding-inline: 0;
  }
  .EventCardText {
    line-height: 0.8rem !important;
  }
  }

  @media (max-width: $mantine-breakpoint-lg) {
    .EventDetails {
        padding-inline: 2rem !important;
    }
  }

  @media (max-width: $mantine-breakpoint-md) {
    .EventDetails {
        padding-inline: 1rem !important;
    }
    .EventDetailsDescription {
        font-size: 0.8rem !important;
    }
    .EventDetailsContainer{
        margin-block: 1rem !important;
    }
    .EventDetailsImage{
        min-width: 18rem !important;
    }
  }