@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Section */
  .HeroSectionContainer {
    height: 50vh !important;
  }
  .HeroSectionHeading {
    bottom: 2rem !important;
    left: 2rem !important;
    font-size: 3.5rem !important;
  }

  /* Event Categories  */
  .EventCategoriesContainer {
    padding-left: 1rem !important;
  }
  .EventCategoriesText {
    font-size: 1.2rem !important;
  }
  .EventCategoriesButtonsGrp {
    gap: var(--mantine-spacing-sm) !important;
    padding: 1.5rem 0 !important;
  }

  .EventCategoriesChips label {
    padding: 0.85rem !important;
    font-size: var(--mantine-font-size-sm) !important;
  }

  /* Event Cards  */
  .EventCardStack {
    padding: 1rem !important ;
  }
  .EventCardsFlex {
    flex-direction: row !important;
  }
  .EventCardsImage {
    width: 120px !important;
  }
  .EventCardsGridCol {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}
