.EventCardsImage,
.EventCardsStack {
  transition: 0.3s !important;
  transform-origin: bottom;
}

@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Section */
  .HeroSectionContainer {
    height: 50vh !important;
  }
  .HeroSectionHeading {
    bottom: 2rem !important;
    left: 2rem !important;
    font-size: 3.5rem !important;
  }

  /* Event Categories  */
  .EventCategoriesContainer {
    padding-left: 2rem !important;
  }
  .EventCategoriesText {
    font-size: 1.2rem !important;
  }
  .EventCategoriesButtonsGrp {
    gap: var(--mantine-spacing-sm) !important;
    padding: 1.5rem 0 !important;
  }

  .EventCategoriesChips label {
    padding: 0.85rem !important;
    font-size: var(--mantine-font-size-sm) !important;
  }

  /* Event Cards  */
  .EventCardStack {
    padding: 1rem 2rem !important;
  }
  .EventCardsFlex {
    flex-direction: row !important;
    height: 130px !important;
  }
  .EventCardsGridCol {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .EventCardsBox {
    width: 35% !important;
  }
  .EventCardsStack {
    width: 65% !important;
    gap: 5 !important;
    border: 2px solid #000 !important;
    padding: 8px 18px 8px 18px !important;
  }
  .EventCardsImage {
    height: 100% !important;
  }
}
@media (min-width: $mantine-breakpoint-xs) {
  /* Event Cards  */
  .EventCardsFlex:hover {
    box-shadow: 8px 8px 0px 0px #000;
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
    /* .EventCardsImage { */
    /* } */
  }
}
