.EventCardsImage,
.EventCardsStack {
  transition: 0.3s !important;
  transform-origin: bottom;
}

@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Section */
  .HeroSectionContainer {
    height: 50vh !important;
  }
  .HeroSectionHeading {
    bottom: 2rem !important;
    left: 2rem !important;
    font-size: 3.5rem !important;
  }

  /* Event Categories  */
  .EventCategoriesContainer {
    padding-left: 2rem !important;
  }
  .EventCategoriesText {
    font-size: 1.2rem !important;
  }
  .EventCategoriesButtonsGrp {
    gap: var(--mantine-spacing-sm) !important;
    padding: 1.5rem 0 !important;
  }

  .EventCategoriesChips label {
    padding: 0.85rem !important;
    font-size: var(--mantine-font-size-sm) !important;
  }

  /* Event Cards  */
  .EventCardStack {
    padding: 2rem !important;
  }
  .EventCardsFlex {
    flex-direction: row !important;
    height: 130px !important;
  }
  .EventCardsGridCol {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .EventCardsBox {
    width: 35% !important;
  }
  .EventCardsStack {
    width: 65% !important;
    gap: 5 !important;
    padding: 8px 18px 8px 18px !important;
  }
  .EventCardsImage {
    height: 100% !important;
  }
}
@media (min-width: $mantine-breakpoint-xs) {
  /* Event Cards  */
  .EventCardsFlex:hover {
    .EventCardsImage {
      transform: scale(1.05);
    }
    .EventCardsStack {
      transform: translateY(-8px);
      box-shadow: #65c8dcca 0px 1px 1px, #65c8dcca 0px 1px 16px;
    }
  }
}
