@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Section */
  .sg {
    --sg-cols: 1 !important;
  }
  .BgImage {
    background-position: 27% !important;
  }
  .HeroSectionHeading {
    /* bottom: 2rem !important; */

    margin-top: 6rem !important;
    padding-left: 1rem !important;
    /* left: 2rem !important; */
    font-size: 3.5rem !important;
  }
  .HeadingLine {
    font-size: 1.5rem !important;
    padding: 1rem !important;
    padding-block: 3rem !important;
  }
}
.blur::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.blur.loaded::before {
  content: none;
}

.loaded > img {
  opacity: 1 !important;
}
