@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Main */
  .HeroMaintarangHeadingImg {
    width: 250px;
  }
  .HeroMainTarangHeadingText {
    font-size: 18px !important;
    margin-top: -5px !important;
    line-height: 20px;
  }
  .HeroMainExploreButton {
    margin-top: 20px !important;
    height: var(--button-height-sm);
    width: var(--button-width-xs);
    padding: 0 var(--button-padding-x-xs);
    font-size: var(--mantine-font-size-xs);
  }

  .HeroMainButtonFlex {
    gap: var(--mantine-spacing-sm) !important;
  }
}

.EventCardsImage,
.EventCardsStack {
  transition: 0.3s !important;
  transform-origin: bottom;
}
@media (min-width: $mantine-breakpoint-xs) {
  /* Event Cards  */
  .EventCardsFlex:hover {
    .EventCardsImage {
      transform: scale(1.05);
    }
    .EventCardsStack {
      transform: translateY(-8px);
      box-shadow: #65c8dcca 0px 1px 1px, #65c8dcca 0px 1px 16px;
    }
  }
}
