@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Main */

  .HeroMaintarangHeadingImg {
    width: 250px;
  }
  .HeroMainTarangHeadingText {
    font-size: 20px !important;
    margin-top: -5px !important;
    line-height: 20px;
  }
  .HeroMainExploreButton {
    margin-top: 20px !important;
    height: var(--button-height-md);
    padding: 0 var(--button-padding-x-md);
    font-size: var(--mantine-font-size-md);
  }

  /* Sponsor Section */
  /* ... */
}
