
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.SubMainImage {
  animation: rotate 16s linear infinite !important;

}
@media (max-width: $mantine-breakpoint-xs) {
  /* Hero Main */
  .HeroMaintarangHeadingImg {
    width: 250px;
  }
  .HeroMainTarangHeadingText {
    font-size: 18px !important;
    margin-top: -5px !important;
    line-height: 20px;
  }
  .HeroMainExploreButton {
    margin-top: 20px !important;
    height: var(--button-height-sm);
    width: var(--button-width-xs);
    padding: 0 var(--button-padding-x-xs);
    font-size: var(--mantine-font-size-xs);
  }

  .HeroMainButtonFlex {
    gap: var(--mantine-spacing-sm) !important;
  }


  /* Date Reveal Section */
  .DateRevealParentStack{
    gap: 2rem !important;
  }
  .DateRevealText {
    font-size: 1.5rem !important;
  }
  .DateRevealGroup {
    padding-inline: 0 !important;
  }
  .DateRevealImage {
    width: 125px !important;
    height: 125px !important;
  }

  /* Sub Main Section  */
  .SubMainParentFlex {
    padding:4rem 2rem !important;
    flex-direction: column !important;
  }
  .SubMainImage {
    width: 20.5rem !important;
    height: 20.5rem !important;
  }
  .SubMainInsideImage {
    top: 5px !important;
    left: 4px !important;
    width: 19.8rem !important;
    height: auto !important;
  }
  .SubMainTextStack { gap: 1.5rem !important; }
  .SubMainText { font-size: 2rem !important;
  line-height: 2rem !important;}
  .SubMainParaText {
    font-size: 0.75rem !important;
    text-align: left !important;
    max-width: 100% !important;
    line-height: 1rem !important;
  }
  .SubMainReadMore {
    /* padding: 0.75rem 1.25rem !important; */
    height: var(--button-height-lg) !important;
    width: var(--button-width-sm) !important;
    font-size: var(--mantine-font-size-sm) !important;
    padding: 0 var(--button-padding-x-sm) !important;
  }
  .SubMainNumberText {
    font-size: 1.5rem !important;
    line-height: 1rem !important;
  }
  .SubMainSmallText {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
  }

  /* Event Section  */
  .EventSectionPaper {
    padding: 0 !important;
  }
  .EventCardsStack {
    padding: 12px 24px !important;
    height: auto !important;
    border: 1px solid black !important;
  }
  .EventCardDesc {
    -webkit-line-clamp: 2 !important;
  }
  .EventSectionBox{
    padding: 3rem 1rem !important;
  }
  .EventSectionBoxText {
    font-size: 2rem !important;
  }
  .EventGridCol {
    flex-basis: 100% !important ;
    max-width: 100% !important;
  }
  .EventSectionFlex {
    flex-direction: column-reverse !important;
  }


  /* Gallery View  */
  .GalleryViewBox {
    padding: 3rem !important;
  }
  .GalleryViewHeading {
    font-size: 2rem !important;
  }
  .GalleryScrollAr { margin-right: -20px !important; }
  .GalleryViewGroup{
    width: fit-content !important;
  }
}

.EventCardsImage,
.EventCardsStack {
  transition: 0.3s !important;
  transform-origin: bottom;
}
@media (min-width: $mantine-breakpoint-xs) {
  /* Event Cards  */
  .EventCardsFlex:hover {
    .EventCardsImage {
      transform: scale(1.05);
    }
    .EventCardsStack {
      transform: translateY(-8px);
      box-shadow: #65c8dcca 0px 1px 1px, #65c8dcca 0px 1px 16px;
    }
  }
}
