.tab {
  position: relative;
  border: none;

  &:first-of-type {
    background: transparent;
    border: none;
    margin-bottom: 10px;
  }

  &:last-of-type {
    border-radius: 0 rem(4px) rem(4px) 0;
    background: transparent;
    margin-bottom: 10px;
  }

  & + & {
    background: transparent;
    border: none;
    margin-bottom: 10px;
  }

  &[data-active] {
    z-index: 1;
    color: #ed3c71 !important;
    border-bottom: 2px solid #ed3c71;
  }
}
.list::before {
  border: 0;
}
.list {
  border-bottom: 1px solid #383f45 !important ;
}

/* ---------------------------------------------------------------------------- */
.paperCardFlex {
  border-radius: 18px ;
}

@media (max-width: $mantine-breakpoint-xs) {
  .text {
    font-size: 14px !important;
  }
  .MainFlex {
    padding: 0 !important;
    flex-direction: column !important;
  }
  .leftCard{
    width: 100% !important;
    padding-top: 4.5rem !important;
  }
  .profileFlex{
    flex-direction: row !important;
  }
  .paperCardFlex {
    flex-direction: row !important;
    padding: 16px 28px !important;
    gap: 16px !important;
  }
  .profileStar {
    width: 58px !important;
    height: 58px !important;
  }
  .profileCardFlexStack {
    gap: 0px !important;
    align-items: flex-start;
  }
  .logoutButton {
    height: var(--button-height-lg) !important;
    font-size: var(--button-font-size-lg) !important;
    padding-inline: var(--button-padding-x-md) !important;
  }
}

/* ProfileEventCard.css */

/* ---------------------------------------------------------------------------- */

.profileAddEventButton{
  background-color: transparent;
  color:black;
  font-weight:700;
}

.profileEventCardButton{
  background-color: transparent;
  color:black;
  font-weight:650;
}

.profileEventCardButton:hover{
  background-color: transparent;
  color:#F34141;
  font-weight:650;
}

.eventCardBadge1{
  color:#CD3636 ;
  border:1px solid #CD3636;
  text-transform:none;
  font-weight:600;
}

.eventCardBadge2{
  color:#2F9461;
  border:1px solid #2F9461;
  text-transform:none;
  font-weight:600;
}

.cardHovered{
  border: 2px solid #0000000D;
}

