* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "General Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar */
@media (min-width: $mantine-breakpoint-sm) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(127, 125, 125, 0.5);
    border-radius: 10px;
  }
  scrollbar-thumb {
    background-color: rgba(127, 125, 125, 0.5);
    border-radius: 10px;
  }
}

